# Question 1

In [1]:
question_1 = ()

In [2]:
print("Tuple=", question_1)

Tuple= ()

# Question 2

In [3]:
question_2 = ('Tutor Joes', True, 'T', 3.21, 10)

In [4]:
question_2

('Tutor Joes', True, 'T', 3.21, 10)

# Question 3

In [5]:
question_3 = 10,6
print(question_3)
print(type(question_3))

(10, 6)
<class 'tuple'>

# Question 4

In [6]:
question_4 = 1,3, 5, 7, 9, 11
question_4

(1, 3, 5, 7, 9, 11)

# Question 5

In [7]:
question_5 = (10, 40, 50, 70, 90)
add_item = (20,)
new_tuple = question_5 + add_item
new_tuple

(10, 40, 50, 70, 90, 20)

# Question 6

In [8]:
question_6 = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')

In [9]:
String = ''
for i in question_6:
    String = String+i
print (String)

Tutor Joes

# Question 7

In [10]:
question_7 = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [11]:
print ("The 4th elements of tuple is: ", question_7 [3])
print ("The 4th elements from the last is: ", question_7 [-4])

The 4th elements of tuple is:  e
The 4th elements from the last is:  u

# Question 8

In [12]:
question_8 = ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
copy = ()
copy = question_8

In [13]:
print ("Copy =", copy)

Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

# Question 9

In [14]:
question_9 = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)

In [15]:
count = 0
for i in question_9:
    if question_9.count(i)>1:
        count = count +1
print ("Item =", i)
print ("Repeated items of a tuple =", question_9.count(i))

Item = 2
Repeated items of a tuple = 3

# Question 10

In [16]:
question_10 = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)

In [17]:
user_input = input("Enter the element to check: ")

Enter the element to check: x

In [18]:
for i in question_10:
    if str(i) == user_input:
        results = True
    else:
        results = False

print (f"{user_input} in Tuple:", results)

x in Tuple: False

# Question 11

In [19]:
question_11 = [12, 45, 87, 54, 89, 4]

In [20]:
tup = tuple(question_11)
tup

(12, 45, 87, 54, 89, 4)

# Question 12

In [21]:
question_12 = (23, 45, 56, 68, 10, 45, 7, 9)

In [22]:
tuple_modified = list(question_12)
tuple_modified.remove(56)
print ("The modified tuple is: ", tuple (tuple_modified))

The modified tuple is:  (23, 45, 68, 10, 45, 7, 9)

# Question 13

In [23]:
question_13 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
question_13[3:8:1]

(40, 50, 60, 70, 80)

# Question 14

In [24]:
question_14 = (23, 45, 67, 78, 89, 90, 34, 56)

In [25]:
item = int(input("Item = "))
print ("Index Number = ", question_14.index(item))

Item = 78
Index Number =  3

# Question 15

In [26]:
question_15 = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
print ("Length = ", len(question_15))

Length =  6

# Question 16

In [27]:
question_16 = ( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
dictionary = dict(question_16)
dictionary

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

# Question 17

In [28]:
question_17 = [ (10,30), (60,90), (20,50) ]

In [29]:
list_1 = []
list_2 = []
for i in question_17:
    for j in i:
        if j == i[0]:
            list_1.append(j)
        elif j == i[-1]:
            list_2.append(j)

In [30]:
tuple_1 = tuple (list_1)

In [31]:
tuple_2 = tuple (list_2)

In [32]:
zipped = tuple_1+tuple_2
zipped

(10, 60, 20, 30, 90, 50)

# Question 18

In [33]:
question_18 = ( 23, 45, 67, 78, 89, 90, 34, 56 )

In [34]:
reversed_tup = question_18[::-1]
print ("Before Reversed: ", question_18)
print ("After Reversed: ", reversed_tup)

Before Reversed:  (23, 45, 67, 78, 89, 90, 34, 56)
After Reversed:  (56, 34, 90, 89, 78, 67, 45, 23)

# Question 19

In [35]:
from collections import defaultdict

# Function to convert a list of tuples into a dictionary with lists of values
def tuples_list_to_dict(tuples_list):
    dictionary = defaultdict(list)
    
    for key, value in tuples_list:
        dictionary[key].append(value)
    
    return dict(dictionary)

In [36]:
tuples_list = [
    ("Name", "Ram"),
    ("Name", "Pooja"),
    ("Age", 21),
    ("Gender", "Male"),
    ("Age", 23),
    ("Gender", "Female")
]

dictionary = tuples_list_to_dict(tuples_list)

print(dictionary)

{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

# Question 20

In [37]:
question_20 = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")

In [38]:
print(f"Fruits{question_20}")

Fruits('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

# Question 21

In [39]:
question_21 = (21,)
print(type(question_21))

<class 'tuple'>

# Question 22

In [40]:
Tuple = (11, 22, 33, 44, 55)

In [41]:
for i in Tuple:
    print(i)

11
22
33
44
55

# Question 23

In [42]:
A = 10,15
B = 20, 35

print ("Before Swap A: ", A)
print ("Before Swap B: ", B)

Before Swap A:  (10, 15)
Before Swap B:  (20, 35)

In [43]:
A, B = B,A

print ("After Swap A: ", A)
print ("After Swap B: ", B)

After Swap A:  (20, 35)
After Swap B:  (10, 15)

# Question 24

In [44]:
question_24 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [45]:
new_tup = ()
for i in question_24:
    if i>=30 and i <=80:
        new_tup = new_tup+(i,)
print (new_tup)

(30, 40, 50, 60, 70, 80)

# Question 25

In [46]:
question_25 = (10, 20, 30, 40, 50)
question_25 = list(question_25)
question_25.insert(question_25.index(30),33)
question_25.remove(30)

question_25 = tuple(question_25)
question_25

(10, 20, 33, 40, 50)

# Question 26

In [47]:
question_26 = ( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) )

In [48]:
tuple(sorted(question_26,key=lambda x: x[1]))

(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

# Question 27

In [49]:
question_27 = (30, 50, 10, 30, 70, 50, 30)

print ("Number of count of 30: ",question_27.count(30))

Number of count of 30:  3

# Question 28

In [50]:
A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)

In [51]:
element_1 = A[0]+B[0]+C[0]+D[0]
element_2 = A[1]+B[1]+C[1]+D[1]
element_3 = A[2]+B[2]+C[2]+D[2]
print ("sum of elements = ", (element_1, element_2, element_3))

sum of elements =  (12, 21, 18)

# Question 29

In [52]:
def sort_by_float_element(question_29, float_index):
    return tuple(sorted(question_29, reverse = True, key=lambda x: x[float_index]))

question_29 = [ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]

sorted_tuples = sort_by_float_element(question_29, 1)

print(sorted_tuples)

(('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43'))

# Question 30

In [53]:
question_30 = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
print(type(question_30))
new_value = 10

<class 'list'>

In [54]:
updated_list = [i[:-1]+ (new_value,) for i in question_30]
updated_list

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

# Question 31

In [55]:
question_31 = [ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ]

In [56]:
k = 2
updated_list = ()
print(type(updated_list))

<class 'tuple'>

In [57]:

for i in question_31:
    for j in i:
        if j>9 and j<100:
            updated_list = updated_list+(j,)
updated_list

(47, 23, 78, 22, 53, 45)

# Question 32

In [58]:
question_32 = [ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]

sorted_tuples = [tuple(sorted(t)) for t in question_32]

set_result = set()
for i in sorted_tuples:
    if sorted_tuples.count(i) > 1:
        set_result.add(i)

results = set_result
print(results)

{(2, 9), (18, 23)}

# Question 33

In [59]:
question_33 = [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]

In [60]:
question_33_sorted = sorted(question_33, reverse = True)
question_33_sorted

[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

# Question 34

In [61]:
question_34 = (10, 20, (30,), 40, (50, 60), 70)

empty_tuple = set()
for i in question_34:
    if isinstance(i, tuple):
        pass
    else:
        empty_tuple.add(i)

empty_tuple

{10, 20, 40, 70}

# Question 35

In [62]:
from collections import defaultdict

# Function to flatten a nested tuple and count element frequencies
def flatten_and_count(nested_tuple):
    # Initialize a defaultdict to store frequencies
    frequency_dict = defaultdict(int)
    
    # Helper function to recursively flatten the tuple
    def flatten(tpl):
        for item in tpl:
            if isinstance(item, tuple):
                flatten(item)  # Recursively flatten the nested tuple
            else:
                frequency_dict[item] += 1  # Count the element
    
    # Call the helper function to start flattening and counting
    flatten(nested_tuple)
    
    return dict(frequency_dict)

mixed_tuple =(10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
element_frequencies = flatten_and_count(mixed_tuple)

print(element_frequencies)

{10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

# Question 36

In [63]:
question_36 = [ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]

In [64]:
flattened_elements = [item for subtuple in question_36 for item in subtuple]
unique_elements = set(flattened_elements)
print ("Unique Element in Nested Tuples:",list (unique_elements))

Unique Element in Nested Tuples: [1, 2, 3, 4, 5, 6, 7, 9, 10]

# Question 37

In [65]:
Tuple_1 = ((18, 23, 2, 9),)
Tuple_2 = ((10, 3, 11),)
result = Tuple_1+Tuple_2
result

((18, 23, 2, 9), (10, 3, 11))

# Question 38

In [66]:
question_38 = [ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ]

In [67]:
from collections import Counter

In [68]:
frequency_counter = Counter(t[1] for t in question_38)
sorted_list = tuple (sorted(question_38, key = lambda x:frequency_counter[x[1]], reverse=True))

In [69]:
sorted_list

((2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8))

# Question 39

In [70]:
question_39 = ( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) )
print (type(question_39))

<class 'tuple'>

In [71]:
Sorted_list = tuple(sorted(i) for i in question_39)
Sorted_list

([10, 50, 60], [20, 30, 80], [40, 70, 100], [90])

# Question 40

In [72]:
question_40 = [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]

In [73]:
question_40 =tuple(sorted (question_40, key = lambda x:x[1]))
print ("Ordered tuple list: ",question_40)

Ordered tuple list:  (('A', 67), ('B', 68), ('C', 69), ('D', 70))

# Question 41

In [74]:
# Function to filter tuples by the Kth element
def filter_tuples_by_kth_element(tuples_list, kth_elements, k_index):
    # Use list comprehension to filter the tuples
    return [t for t in tuples_list if t[k_index] in kth_elements]

In [75]:
tuples_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
kth_elements = [67, 70, 71, 75]
k_index = 1

In [76]:
filtered_tuples = filter_tuples_by_kth_element(tuples_list, kth_elements, k_index)

print("Filtered tuples:", filtered_tuples)

Filtered tuples: [('D', 70), ('A', 67)]

# Question 42

In [77]:
# Define the test list and the tuple
test_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
tup = (20, 2)
K = 1

# Initialize variables
min_dif, res = float('inf'), None

# Loop through the list of tuples to find the closest tuple
for idx, val in enumerate(test_list):
    dif = abs(tup[K - 1] - val[K - 1])
    if dif < min_dif:
        min_dif, res = dif, idx

# Print the result
print("The Closest tuple to Kth index element is: " + str(test_list[res]))

The Closest tuple to Kth index element is: (23, 18)

# Question 43

In [78]:
# Initial lists of tuples
list_1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list_2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

# Convert each tuple to a sorted tuple and create sets
set_1 = set(tuple(sorted(t)) for t in list_1)
set_2 = set(tuple(sorted(t)) for t in list_2)

# Find the intersection of the two sets
intersection = set_1.intersection(set_2)

# Print the result
print(intersection)

{(4, 5), (5, 6), (3, 4)}

# Question 44

In [79]:
list_1 = [ ('A', 65), ('D', 68), ('B', 66) ]
list_2 = [ ('D', 68), ('C', 67), ('A', 65) ]

In [80]:
set_1 = set(list_1)
set_2 = set(list_2)

In [81]:
results = set_1.intersection(set_2)
results

{('A', 65), ('D', 68)}

# Question 45

In [82]:
question_45 = [ (3, 4), (1, 2), (4, 3), (5, 6) ]

In [83]:
set_1 = set(tuple(sorted(t)) for t in question_45)

In [84]:
set_1 = list(set_1)
print("Unique tuples Frequency Count:",len(set_1))

Unique tuples Frequency Count: 3

# Question 46

In [85]:
# Define the nested tuple
nested_tuple = (1, (2, (3, (4, (5, None)))))

def simple_sum_recursive(tup):
    total = 0
    if isinstance(tup, tuple):
        for value in tup:
            if isinstance(value, tuple):
                total += simple_sum_recursive(value)
            elif value is not None:
                total += value
    return total

# Calculate the total sum
total_sum = simple_sum_recursive(nested_tuple)

# Print the result
print("summation of 1st position: ", total_sum)

summation of 1st position:  15

# Question 47

In [86]:
question_47 = (1, 0, 1, 0)
results = 0
for index, value in enumerate(reversed(question_47)):
    results += value * (2 ** index)

print(results)

10

# Question 48

In [87]:
tup_1 = (10, 4, 6, 9)
tup_2 = (5, 2, 3, 3)

In [88]:
results = tuple(a^b for a,b in zip(tup_1, tup_2))
results

(15, 6, 5, 10)

# Question 49

In [89]:
tuple_1 = (10, 4, 6, 9)
tuple_2 = (5, 2, 3, 3)

In [90]:
results = tuple(a & b for a, b in zip(tuple_1, tuple_2))
results

(0, 0, 2, 1)

# Question 50

In [91]:
tuple_1 = (10, 4, 6, 9)
tuple_2 = (5, 2, 3, 3)
results = (tuple_1[0]&tuple_2[0], tuple_1[1]&tuple_2[1], tuple_1[2]&tuple_2[2], tuple_1[3]&tuple_2[3])
print ("Elementwise AND Tuple: ",results)

Elementwise AND Tuple:  (0, 0, 2, 1)